@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/hinted-OpenSans-Bold.eot');
  src: url('/assets/fonts/hinted-OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/hinted-OpenSans-Bold.woff2') format('woff2'),
      url('/assets/fonts/hinted-OpenSans-Bold.woff') format('woff'),
      url('/assets/fonts/hinted-OpenSans-Bold.ttf') format('truetype'),
      url('/assets/fonts/hinted-OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/hinted-OpenSans-Light.eot');
  src: url('/assets/fonts/hinted-OpenSans-Light.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/hinted-OpenSans-Light.woff2') format('woff2'),
      url('/assets/fonts/hinted-OpenSans-Light.woff') format('woff'),
      url('/assets/fonts/hinted-OpenSans-Light.ttf') format('truetype'),
      url('/assets/fonts/hinted-OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/hinted-OpenSans-Regular.eot');
  src: url('/assets/fonts/hinted-OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/hinted-OpenSans-Regular.woff2') format('woff2'),
      url('/assets/fonts/hinted-OpenSans-Regular.woff') format('woff'),
      url('/assets/fonts/hinted-OpenSans-Regular.ttf') format('truetype'),
      url('/assets/fonts/hinted-OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/hinted-OpenSans-Italic.eot');
  src: url('/assets/fonts/hinted-OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/hinted-OpenSans-Italic.woff2') format('woff2'),
      url('/assets/fonts/hinted-OpenSans-Italic.woff') format('woff'),
      url('/assets/fonts/hinted-OpenSans-Italic.ttf') format('truetype'),
      url('/assets/fonts/hinted-OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}
