nav.navbar.is-white
  .container
    .navbar-brand
      a.navbar-item.brand-text(href=".")=projectname
    
    #navMenu.navbar-menu
      .navbar-start
        a.navbar-item(href=".") Project page
        a.navbar-item(href=github) Source code
        a.navbar-item(href=github + "/issues") Issues
        a.navbar-item(href=github + "/pulls") Pull requests